* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../public/Roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(../public/Roboto/Roboto-Medium.ttf)
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto-Light, sans-serif;
    box-sizing: border-box;
}
